body {
    font-family: 'Roboto', sans-serif;
    background-color: #141414;
    color: #fff;
  }
  
  .show-details {
    padding: 20px;
    background-color: #141414;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .show-details img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
  }
  
  .show-details h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .show-details p {
    margin-bottom: 10px;
  }
  
  .show-details h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .show-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .show-details li {
    margin-bottom: 5px;
    font-size: 1.5rem;
  }
  
  .show-details a {
    color: #007bff;
    text-decoration: none;
    background-color: rgba(0, 123, 255, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background-color 0.3s;
  }
  
  .show-details a:hover {
    background-color: rgba(0, 123, 255, 0.2);
  }
  
  .show-details-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .show-details-info h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .show-details-info ul {
    padding: 0;
  }
  
  .show-details-info li {
    margin-bottom: 5px;
  }
  
  .show-details-info .status {
    font-weight: bold;
    color: #007bff;
    font-size: 2rem;
  }
  
  .show-details-info .runtime {
    font-weight: bold;
    color: #007bff;
  }
  
  .show-details-info .language {
    font-weight: bold;
    color: #007bff;
  }
  
  .show-details-info .official-site {
    font-weight: bold;
    color: #007bff;
    text-decoration: underline;
  }